
.man{
    margin-top: 300px;
    font-size: 90px;
    color:rgb(0, 136, 255);
}
.gon{
    margin-left: 1000px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}
.gon1{
    margin-left: 50px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}
.gon2{
    margin-left: 50px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}
.gon4{
    margin-left: 50px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}
body{
    background-image: url(/nature-leaves-plants-water-drops-wallpaper-preview.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.many{
    display: flex;
    
}
.pp{
    margin-left: 30px;
}
